---
import Layout from "../layouts/Layout.astro";
import { books } from '../data/books'
const { book } = Astro.params

const info  = books.find(b => b.id === book)

if (!info)
    return Astro.redirect("/404", 404)
---

<Layout title={`Libro ${info.title}`}>
    <main class="m-auto max-w-4xl">
        <div class="grid grid-cols-[350px_1fr] gap-x-8 mt-20">
            <div class="flex flex-col">
                <picture class="mb-8 w-full relative">
                    <img class="aspect-[389/500] h-full object-cover w-full max-w-full rounded" src={info.img} alt={`Portada del libro ${info.title}`}>
                </picture>
                
                <a href="#" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 justify-center">
                    Read now
                    <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>
            <aside>
                <h1 class="text-xl font-black mb-4">{info.title}</h1>
                <p class="text-lg mb-4">{info.opinion}</p>
                <p><strong>Autor:</strong> <span class="font-semibold text-gray-800">{info.author}</span></p>
            </aside>
        </div>
    </main>
</Layout>